@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background: linear-gradient(to right, #FCA138, #FEE71E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }